<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Resource Hub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>Student Resource Hub</h1>

    
    {% include 'search-bar.html' %}
    {% include 'quick-upload.html' %}

    <section>
        <h2>Recent Resources</h2>
        <div class="resource-grid">

            {% for resource in resources %}
            <article class="card">
                <span class="badge">
                    {{ resource.category }}
                </span>

                <h3>{{ resource.title }}</h3>

                <p>
                    Code: 
                    <strong>{{ resource.subject_code }}</strong>
                </p>

                <a href="{{ resource.file_url }}" target="_blank">
                    <button class="btn-download">
                        Download
                    </button>
                </a>
            </article>
            {% endfor %}

        </div>
    </section>

</body>
</html>